<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						   http://www.springframework.org/schema/aop
						   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
		
	<!-- Conexão com banco de dados -->
	<bean id="dataSource" class="br.com.gasfinder.config.Conexao" />
		
	<!-- Hibernate -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    	<property name="annotatedClasses">
    		<list>
    			<value>br.com.gasfinder.entidade.Bandeira</value>
    			<value>br.com.gasfinder.entidade.Cidade</value>
    			<value>br.com.gasfinder.entidade.Combustivel</value>
    			<value>br.com.gasfinder.entidade.Comentario</value>
    			<value>br.com.gasfinder.entidade.Estado</value>
    			<value>br.com.gasfinder.entidade.Posto</value>
    			<value>br.com.gasfinder.entidade.Usuario</value>
    			<value>br.com.gasfinder.entidade.ValorCombustivel</value>
    		</list>
    	</property>
    	<property name="hibernateProperties">
    		<props>
    			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
    			<prop key="hibernate.show_sql">true</prop>  
    			<prop key="hibernate.hbm2ddl.auto">update</prop> 			
    		</props>
    	</property>
    	<property name="dataSource" ref="dataSource" />
    </bean>

	<!-- Injeta uma sessão do hibernate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
  		<property name="sessionFactory" ref="sessionFactory" />
	</bean> 
	 
	<!-- DAOs -->
    <bean id="bandeiraDAO" class="br.com.gasfinder.dao.BandeiraDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="cidadeDAO" class="br.com.gasfinder.dao.CidadeDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="combustivelDAO" class="br.com.gasfinder.dao.CombustivelDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="comentarioDAO" class="br.com.gasfinder.dao.ComentarioDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="estadoDAO" class="br.com.gasfinder.dao.EstadoDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="postoDAO" class="br.com.gasfinder.dao.PostoDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="usuarioDAO" class="br.com.gasfinder.dao.UsuarioDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="valorCombustivelDAO" class="br.com.gasfinder.dao.ValorCombustivelDAO">
    	<!-- Injeta esse objeto hibernateTemplate dentro do DAO -->
    	<property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    
</beans>